@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: black;
    color: white;
    font-family: Roboto;
}

.left {
    width: 30vw;
    padding: 10px;
}

.left .close {
    position: absolute;
    right: 20px;
    top: 26px;
    width: 25px;
}

.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    gap: 15px;
    list-style: none;
    width: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.home {
    padding: 10px;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    align-items: center;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    gap: 13px;
    color: grey;
    font-size: 10px;
    position: absolute;
    bottom: 0;

}

.footer a {
    color: grey;
    text-decoration: none;
}


.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotifyPlaylist {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 70vh;
}


.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;

}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 170px;
    right: 15px;
    opacity: 0;
    transition: all 1s ease-out;
}

.button>* {
    margin: 0 10px;
}

.signupbtn {
    color: grey;
    background-color: rgb(34, 34, 34);
    border: none;
    cursor: pointer;
}

.signupbtn:hover {
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

.loginbtn {
    padding: 10px;
    border-radius: 50px;

    width: 70px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
    width: 80px;

}

.playBar {
    min-height: 30px;
    position: fixed;
    bottom: 30px;
    width: 62vw;
    background: rgb(48, 45, 45);
    padding: 10px;
    border-radius: 20px;


}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 13px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    /* padding: 12px 13px; */
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 10px;
    justify-content: space-around;
}

.songInfo {
    width: 344px;
    font-size: 13px;

}

.songinfo {
    width: 250px;
}

.playNow {
    display: flex;
    justify-content: center;
    align-items: center;

}

.playNow span {
    width: 100px;
    font-size: 15px;


}

.songList {
    height: 344px;
    overflow: auto;
    margin-bottom: 44px 0;
}

.seekBar {
    height: 4px;
    width: 97%;
    background: black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 4px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: peachpuff;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;


}

.spotifyPlaylist h1 {
    padding: 10px;

}

.songtime {
    width: 130px;
}

.songbuttons img {
    cursor: pointer;
}

.songbar {
    display: flex;
    justify-content: space-between;
}

.hamburger {
    display: none;
}

.hamburgerCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.close {
    display: none;
}

.duvo {
    display: flex;
}

.volume {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.range input{
    cursor: pointer;
}


/* wrap the lengthy words!! */
.songInfo div {
    word-break: break-all;
}

@media screen and (max-width : 1100px) {
    .left {
        background-color: black;
        position: absolute;
        left: -230%;
        z-index: 1;
        transition: all .5s;
        width: 350px;
        padding: 0;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playBar {
        width: calc(100vw - 60px);
    }

    .seekBar {
        width: calc(100vw - 60px);
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .hamburger {
        display: block;
        /* filter: invert(1); */
    }

    .card {
        width: 90vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .songbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .duvo {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}



